<div class="container-form">
  <div class='Forms'>
  <%= form_tag('/calculo') do %>
    <%= label_tag :height, 'Enter your height', class:'label-height' %><br>
    <%= text_field_tag :height, nil, class:'field-height_'%><br>
    
    <%= label_tag :weight, 'Enter your weight', class:'label-wight' %><br>
    <%= text_field_tag :weight, nil, class:'field-wight_'%><br>
    
    <%= submit_tag "Calcl", class:'btn-calc' %>
  
  <% end %>
  
  <%= link_to "Back", root_path, class:'link' %>
  </div>
</div>
